*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Reenie Beanie', cursive;
}

.hero{
    background: url(Images/zen.gif);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
}


.h2{
    font-size: 100px;
    z-index: 9999;
}



footer{
    background: #2b3035;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icon1{
    border: 1px solid #fff;
    padding: 12px 19px;
    border-radius: 50%;
    transition: .2s linear;
}
.icon1:hover{
    background: #fff;
    color: #2b3035;
}
.icon2{
    border: 1px solid #fff;
    padding: 14px 14px;
    border-radius: 50%;
    transition: .2s linear;
}
.icon2:hover{
    background: #fff;
    color: #2b3035;
}
.icon3{
    border: 1px solid #fff;
    padding: 14px 16px;
    border-radius: 50%;
    transition: .2s linear;
}
.icon3:hover{
    background: #fff;
    color: #2b3035;
}
.icon4{
    border: 1px solid #fff;
    padding: 14px 12px;
    border-radius: 50%;
    transition: .2s linear;
}
.icon4:hover{
    background: #fff;
    color: #2b3035;
}